.sidebar {
    transition: all 0.3s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

img {
    transition: all 0.3s ease;
}

p,
span {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}
