<div class="flex flex-column md:pr-4 lg:pr-6 gap-2 md:overflow-y-scroll lg:overflow-y-auto">
    <h3 class="font-bold">User Profile </h3>
    <div class="grid bg-white profile-container border-round-3xl mt-1 ">
        <div class="col-12 lg:col-2 lg:border-right-3 border-black-alpha-10 px-3 pt-5">
            <div *ngFor="let item of sidebarMenus">
                <app-sidebar-menu-profile [label]="item.label"
                    [isRoute]="item.isRoute"
                    [link]="item.link"></app-sidebar-menu-profile>
            </div>
        </div>
        <div class="col-12 lg:col-10 relative ">
            <router-outlet></router-outlet>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.3)"
                size="default"
                color="#fff"
                type="square-loader"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
        </div>
    </div>
</div>