@media (min-width: 1024px) {
    .profile-container {
        height: calc(100vh - 130px) !important;
        overflow-y: hidden;
    }
}
@media (min-width: 768px) {
    .profile-container {
        height: calc(100vh - 130px) !important;
        overflow-y: auto;
    }
}
