:host ::ng-deep ngx-otp-input {
    display: block;
    width: 100%;
}

:host ::ng-deep ngx-otp-input .ngx-otp-input-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

:host ::ng-deep ngx-otp-input .ngx-otp-input-box {
    margin: 8px;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    font-size: 1.5rem;
    width: 5rem !important;
    height: 5rem !important;
}
