<div class="flex flex-column gap-4 mt-4">
    <div class="flex flex-column gap-0">
        <h1 class="md:text-2xl lg:text-4xl lg:font-bold">
            Welcome Back!
        </h1>
        <div class="flex gap-1 align-items-center">
            <p>Don't have an account?</p>
            <p-button label="Register"
                styleClass="p-button-link m-0 p-0 w-12"
                (onClick)="onRegister()"></p-button>
        </div>
    </div>
    <div class="flex flex-column gap-4 w-full"
        [formGroup]="formReady">
        <p class="text-lg font-bold">
            Please enter your details
        </p>
        <div class="flex flex-column gap-1">
            <label htmlFor="username"
                class="text-lg ">Username<span class="text-red">*</span></label>
            <input pInputText
                id="username"
                class="w-full bg-white border-primary border-round-2xl"
                formControlName="username"
                [ngClass]="{
                  'ng-dirty': formReady.get('username')?.touched || formReady.get('username')?.dirty,
                  'ng-invalid': (formReady.get('username')?.touched || formReady.get('username')?.dirty) && !formReady.get('username')?.valid
                }" />

            <app-error-field-helper [formControlKey]="formReady.get('username')"></app-error-field-helper>
        </div>
        <div class="flex flex-column gap-1 ">
            <label htmlFor="password"
                class="text-lg">Password<span class="text-red">*</span></label>
            <p-password [toggleMask]="true"
                [feedback]="false"
                formControlName="password"
                [ngClass]="{
                    'ng-dirty ng-invalid' : ( formReady.get('password')?.touched|| formReady.get('password')?.dirty) &&!formReady.get('password')?.valid
                }"></p-password>
            <app-error-field-helper [formControlKey]="formReady.get('password')"></app-error-field-helper>
        </div>
        <button pButton
            pRipple
            label="Login"
            class="p-button-primart w-full mt-2 border-round-2xl"
            (click)="onSubmit()"></button>

    </div>
</div>